DX12_Test/.vs/DX12_Test/v16/
DX12_Test/Debug/
DX12_Test/Release/
DX12_Test/x64/Debug/
DX12_Test/x64/Release/
DX12_Sample/.vs/DX12_Sample/v16/
DX12_Sample/DX12_Sample/Debug/DX12_Sample.tlog/
DX12_Sample/DX12_Sample/Debug/
